@charset "utf-8";

/* ------------------------- header ------------------------- */
#nav {
    width: 100%;
    position: fixed;
}

#nav ul {
    margin: 30px;
    padding: 0;
    list-style-type: none;
    display: flex;
}

#nav ul li {
    width: 20%;
	text-align: center;
}

#nav ul li a {
	height: 20px;
	margin-top: 30px;
	padding: 0;
	color: lightblue;
	font-size: 20px;
	text-decoration: none;
}

#header {
	width: 100%;
	background-color: lightgrey;
}

#header-text h1 {
    margin: 0;
	padding: 0;
	position: relative;
}

#gameHeader {
    width: 100%;
	height: 100px;
	margin-top: 50px;
}

#header-text h1 p {
	position: absolute;
	top: 70%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	margin: 0;
	padding: 0;
	color: white;
	font-weight: bold;
	font-size:　3em;
}

body {
	margin: 0;
	padding: 0;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	color: #333;
	font-size: 13px;
	line-height: 150%;
	background-color: black;
}

/* -------------------- main -------------------- */
#mainImage {
	width: 100%;
	height: 700px;
}

#quest ul {
	display: flex;
	width: 100%;
}

#quest ul li {
	flex-grow: 1;
	list-style: none;
	box-sizing: border-box;
}

#wepon-armor ul {
	display: flex;
	width: 100%;
}

#wepon-armor ul li {
	flex-grow: 1;
	list-style: none;
	box-sizing: border-box;
}

#etc ul {
	display: flex;
	width: 100%;
}

#etc ul li {
	flex-grow: 1;
	list-style: none;
	box-sizing: border-box;
}


/* -------------------- footer -------------------- */
#footer {
	font-size: 15px;
	text-align: center;
	padding: 10px;
	margin: 10px;
}